
package com.company;
/**
 * Creates an exception in the case that the line has no one on it
 */
    public class EmptyLineException extends Exception{
        public EmptyLineException() {
            super();
        }
    }

